<h1>Servicio Meteorológico Vulcano</h1>

<h2>Durante los proximos anos, la galaxia tendra</h2>
<ul>
  <li><%= @sequias %> periodos de sequias</li>
  <li><%= @lluvias %> periodos de lluvias. El maximo absoluto sera al dia 
  <%= @perimetro[:dia] %></li>
  <li><%= @optimas %> periodos de condiciones optimas</li>
</ul>